section{
  align-items: center;
}
emoji-code {
    text-align: center
}
#flex {
    flex-wrap: wrap;
}

.emoji {
 
  text-align: center;
  
}
#emoji {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 10%;
  
}

